.nav ul {
    display: inline;
    list-style-type: none;
    text-decoration: none;
}

.nav {
	background-color: #FFB4B0;
    border: 2px solid #000;
    padding: 12px;
}

.nav ul li {
	display: inline;
	margin-bottom: 9px;
}

.link-viewmusic {
	padding-right: 2px;
	border-right: 2px solid;
	border-color: black;
}

.link-addmusic {
	padding-left: 4px;
	border-right: 2px solid;
	padding-right: 2px;
}

.link-profile {
	padding-left: 2px;
	border-right: 2px #000;
}

.songs {
padding-left: 10%;
display: inline;
}

.songs {
	background-color: #FEFAC0 ;
    border: 2px solid #000;
    margin-top: 10px;
    margin-left: 5px;
    float: right;
    width: 67%;
    height: 400px;
}

.songs ul li {
	display: inline;
	border-right: 2px solid;
	text-decoration: none;
}

.songoptions {
	background-color: #4DD7FA;
    border: 2px solid #000;
    margin-top: 10px;
    margin-right: 5px;
    float: left;
    width: 20%;
    height: 400px;
}





